body{
    background: #000;;
    }
    
    .Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex: 1 0 0;
    }
    
    .LOGO{
    width: 66.653px;
    height: 15.4px;
    }
    
    h2 {
    align-self: stretch;
    color: #FFF;
    font-family: Oxygen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    letter-spacing: 0.36px;
    }
    
    .H-Musique{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    align-self: stretch;
    }
    
    .H-Musique-Liste{
    display: flex;
    gap: 6px;
    align-self: stretch;
    overflow-y: auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory; /* Active le slider */
    scroll-behavior: smooth; /* Rend le défilement fluide */
    white-space: nowrap; /* Assure que les éléments restent en ligne */
    }
    
    .H-Musique-Liste-Affiche{
    flex: 0 0 auto; /* Empêche les éléments de s'étirer */
    scroll-snap-align: start; /* Fait en sorte que chaque élément s'aligne dans le viewport */
    display: flex;
    width: 30vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    }
    
    .H-Musique-Liste-Affiche-Image{
    height: 30vw;
    align-self: stretch;
    border-radius: 2px;
    background: #D9D9D9;
    }
    
    .H-Musique-Liste-Affiche-Titre{
    align-self: stretch;
    color: #FFF;
    text-align: center;
    font-family: Oxygen;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 16.5px */
    letter-spacing: 0.22px;
    }
    
    .H-Createur{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    align-self: stretch;
    }
    
    .H-Createur-Liste{
    display: flex;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    }
    
    .H-Createur-Liste-Affiche{
    display: flex;
    width: 20vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    }
    
    .H-Createur-Liste-Affiche-Image{
    height: 20vw;
    align-self: stretch;
    border-radius: 300px;
    background: #FFF;
    }
    
    .H-Createur-Liste-Affiche-Nom{
    align-self: stretch;
    color: #FFF;
    text-align: center;
    font-family: Oxygen;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 16.5px */
    letter-spacing: 0.22px;
    }